<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Sentence Ordering App</title>
</head>
<body>

<form sec:authorize="!isAuthenticated()" action="/login" method="get">
    <button type="submit">Login</button>
</form>

<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

<h1>Sentence Ordering App</h1>

<div sec:authorize="hasRole('STUDENT')">
    <h2>Student</h2>
    <form action="/student/exercises" method="get">
        <button type="submit">Student Exercises</button>
    </form>
</div>

<div sec:authorize="hasRole('ADMIN')">
    <h2>Admin</h2>
    <ul>
        <li><a href="/admin/grades/1/exercises">Manage Grade 1</a></li>
        <li><a href="/admin/grades/2/exercises">Manage Grade 2</a></li>
        <li><a href="/admin/grades/3/exercises">Manage Grade 3</a></li>
    </ul>
</div>

</body>
</html>
