<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Exercise</title>
</head>
<body>
<h1>New Exercise</h1>

<form th:action="@{/admin/grades/{grade}/exercises(grade=${grade})}" th:object="${exerciseForm}" method="post">
    <p>
        Grade: <span th:text="${grade}">1</span>
    </p>

    <input type="hidden" th:field="*{grade}">

    <div>
        <label>Unit:</label>
        <label>
            <input type="number" th:field="*{unitNumber}" min="1" max="20">
        </label>
    </div>

    <div>
        <label>Reading:</label>
        <label>
            <input type="number" th:field="*{readingNumber}" min="1" max="25">
        </label>
    </div>

    <div>
        <label>Title:</label>
        <label>
            <input type="text" th:field="*{title}">
        </label>
    </div>

    <div>
        <label>Text:</label>
        <p>Enter one sentence per line. Order from top to bottom. Separate sentences using the enter key.</p>
        <label>
            <textarea th:field="*{readingText}" rows="12" cols="80"></textarea>
        </label>
    </div>

    <div>
    <label>Audio Link:</label>
        <label>
            <input type="text" th:field="*{audioLink}">
        </label>
    </div>

    <button type="submit">Save</button>
</form>
<p>
    <a th:href="@{/admin/grades/{grade}/exercises(grade=${grade})}">
        Back to exercises
    </a>
</p>
</body>
</html>